@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*, *::before, *::after { 
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    display: flex; 
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    background-color: hsl(217, 54%, 11%);
    color: white;    
    justify-content: center;
    align-items: center;
}

main {   
    max-width: 25rem;
    margin: auto;
}

.container {
    background-color:hsl(216, 50%, 16%);
    padding: 5%;
    margin: 2rem;
    border-radius: 2.5%;
}

.container__picture {
    position: relative;
    display: block;
    line-height: 0%; 
    border-radius: 2.5%;
}

.container__picture::before, .container__picture::after {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 2.5%;
    transition: transform ease-in 250ms;
}

.container__picture::before {
    content:'';
    background-color: cyan;
    opacity: 0;
}

.container__picture::after {
    content: url(images/icon-view.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.container__picture:hover::before {
    opacity: 0.3;
    transition: ease-in 500ms;
}
.container__picture:hover::after {
    opacity: 1; 
    transition: ease-in 1000ms; 
}

.picture__content { 
    width: 100%;
    border-radius: 2.5%;
}

.container__H1 {
    margin-top: 0.5rem;
}

.container__H1:hover, .CreatorFlex__creator:hover  {
    color: cyan;
    cursor: pointer;
}

.container__p, .Flex-border__daysLeft {
    color: hsl(215, 51%, 70%);
}

.Flex-border, .Flex-border__flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.Flex-border {
    border-bottom: 0.1rem solid hsl(215, 51%, 70%);
}

.Flex-border__svg {
    margin-right: 0.5rem;
}

.Flex-border__ETH {
    color: cyan;
    font-weight: 600;
}

.Flex-border__ETH--abbr {
    text-decoration: none;
}

.CreatorFlex {
    width: 100%;
    display: flex;
    margin: 1rem 0 0 0;
    justify-content: flex-start;
    align-items: center;
}

.CreatorFlex__avatar {
    height: 3rem;
    border: 1px solid hsl(215, 51%, 70%);
    border-radius: 2rem;
    margin-right: 1rem;
}

.CreatorFlex__creationOf {
    color:hsl(215, 51%, 70%);
    font-weight: 500;
}

.CreatorFlex__creator {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 480px) {

.container {
    margin: 0;
}

main {
    padding: 0.5rem;
}
}

